#certfields {
  display: inline-block;
}

#certfields div.field {
  overflow: hidden;
}

#certfields div.field label {
  display: block;
  float: left;
  width: 200px;
}

#certfields div.field div.multi label {
  padding-left: 200px;
  float: none;
  width: 400px
}

#certfields div.field div.multi input {
  width: auto;
}

#certfields div.field input, #certfields div.field select {
  float: left;
  width: 400px;
}

#certfields div.field textarea {
  float: left;
  width: 400px;
  height: 100px;
  resize: vertical;
}

#certfields div.field textarea#cert_text {
  font-size: small;
  width: 42em;
  height: 300px;
}

div.error, label.error {
  color: red;
}

#certfields div.field label.error {
  float: right;
  padding-left: 10px;
}

div.error:first-line {
  font-size: large;
  font-weight: bold;
}
